<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UcActor">
	<resultMap id="UcActorResult" type="UcActor">
		<id     property="actorId"   column="ACTOR_ID"/>
		<result     property="actor_nm"   column="ACTOR_NM"/>
		<result     property="actor_dc"   column="ACTOR_DC"/>
	</resultMap> 

  <select id="findById" parameterType="java.util.HashMap" resultMap="UcActorResult">
    select *
    from UC_ACTOR
    where ACTOR_ID = #{0, actorId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="UcActorResult">
    select *
    from UC_ACTOR
  </select>
  <insert id="insert" parameterType="UcActor">
    insert into UC_ACTOR (
			ACTOR_NM,
			ACTOR_DC
      )
    values (
			#{actor_nm, jdbcType=LONGVARCHAR},
			#{actor_dc, jdbcType=LONGVARCHAR}
      )
  <!--parameterType="java.lang.Integer"--> 
  </insert>
  <update id="update" parameterType="UcActor">
    update UC_ACTOR
			ACTOR_NM = #{actor_nm, jdbcType=LOGNVARCHAR},
			ACTOR_DC = #{actor_dc, jdbcType=LOGNVARCHAR}
    where ACTOR_ID = #{actorId,jdbcType=INTEGER}
  </update>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from UC_ACTOR
    where ACTOR_ID = #{0, actorId}
  </delete>  
  
 </mapper>