<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UcActorMap">
	<resultMap id="UcActorMapResult" type="UcActorMap">
		<id     property="ucId"   column="UC_ID"/>
		<id     property="actorId"   column="ACTOR_ID"/>
	</resultMap> 


  <select id="findById" parameterType="java.util.HashMap" resultMap="UcActorMapResult">
    select *
    from UC_ACTOR_MAP
    where UC_ID = #{0, ucId}
      and ACTOR_ID = #{1, actorId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="UcActorMapResult">
    select *
    from UC_ACTOR_MAP
  </select>
  <insert id="insert" parameterType="UcActorMap">
    insert into UC_ACTOR_MAP (WORD_NM, 
    				  KR_NM, 
      				  EN_NM, 
      				  KR_ABRV, 
      				  EN_ABRV, 
     				  WORD_APPLC_SCOPE, 
     				  ETC_MATTER_DC, 
     				  WORD_DFN
      )
    values (#{wordNm,			jdbcType=VARCHAR}, 
    		#{krNm,				jdbcType=VARCHAR}, 
      		#{enNm,				jdbcType=VARCHAR}, 
      		#{krAbrv,			jdbcType=VARCHAR}, 
      		#{enAbrv,			jdbcType=VARCHAR}, 
      		#{wordApplcScope,	jdbcType=VARCHAR}, 
      		#{etcMatterDc,		jdbcType=VARCHAR}, 
      		#{wordDfn,			jdbcType=LONGVARCHAR}
      )
  <!--parameterType="java.lang.Integer"--> 
  </insert>
  <update id="update" parameterType="UcActorMap">
    update UC_ACTOR_MAP
    <set>
      <if test="wordNm 			!= null">WORD_NM 			= #{wordNm,			jdbcType=VARCHAR},		</if>
      <if test="krNm 			!= null">KR_NM 				= #{krNm,			jdbcType=VARCHAR},		</if>
      <if test="enNm 			!= null">EN_NM 				= #{enNm,			jdbcType=VARCHAR},		</if>
      <if test="krAbrv 			!= null">KR_ABRV 			= #{krAbrv,			jdbcType=VARCHAR},		</if>
      <if test="enAbrv 			!= null">EN_ABRV 			= #{enAbrv,			jdbcType=VARCHAR},		</if>
      <if test="wordApplcScope  != null">WORD_APPLC_SCOPE 	= #{wordApplcScope,	jdbcType=VARCHAR},		</if>
      <if test="etcMatterDc 	!= null">ETC_MATTER_DC 		= #{etcMatterDc,	jdbcType=VARCHAR},		</if>
      <if test="wordDfn 		!= null">WORD_DFN 			= #{wordDfn,		jdbcType=LONGVARCHAR},	</if>
    </set>
    where UC_ID = #{ucId,jdbcType=INTEGER}
      and ACTOR_ID = #{actorId,jdbcType=INTEGER}
  </update>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from UC_ACTOR_MAP
    where UC_ID = #{0, ucId}
      and ACTOR_ID = #{1, actorId}
  </delete>  
  
 </mapper>