<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UcEventFlow">
	<resultMap id="UcEventFlowResult" type="UcEventFlow">
		<id     property="eventId"   column="EVENT_ID"/>
		<id     property="ucId"   column="UC_ID"/>
		<result     property="eventNm"   column="EVENT_NM"/>
		<result     property="flowTy"   column="FLOW_TY"/>
		<result     property="dicaryCnd"   column="DICARY_CND"/>
		<result     property="flowDc"   column="FLOW_DC"/>
		<result     property="aftfatCnd"   column="AFTFAT_CND"/>
		<result     property="rtrnLc"   column="RTRN_LC"/>
	</resultMap> 

  <select id="findById" parameterType="java.util.HashMap" resultMap="UcEventFlowResult">
    select *
    from UC_EVENT_FLOW
    where EVENT_ID = #{0, eventId}
      and UC_ID = #{1, ucId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="UcEventFlowResult">
    select *
    from UC_EVENT_FLOW
  </select>
  <insert id="insert" parameterType="UcEventFlow">
    insert into UC_EVENT_FLOW (			
			UC_ID,
			EVENT_NM,
			FLOW_TY,
			DICARY_CND,
			FLOW_DC,
			AFTFAT_CND,
			RTRN_LC
      )
    values (
			#{ucId, jdbcType=INTEGER},
			#{eventNm, jdbcType=VARCHAR},
			#{flowTy, jdbcType=CHAR},
			#{dicaryCnd, jdbcType=LONGVARCHAR},
			#{flowDc, jdbcType=LONGVARCHAR},
			#{aftfatCnd, jdbcType=LONGVARCHAR},
			#{rtrnLc, jdbcType=LONGVARCHAR}
      )
  <!--parameterType="java.lang.Integer"--> 
  </insert>
  <update id="update" parameterType="UcEventFlow">
    update UC_EVENT_FLOW SET
			UC_ID = #{ucId, jdbcType=INTEGER},
			EVENT_NM = #{eventNm, jdbcType=VARCHAR},
			FLOW_TY = #{flowTy, jdbcType=CHAR},
			DICARY_CND = #{dicaryCnd, jdbcType=LOGNVARCHAR},
			FLOW_DC = #{flowDc, jdbcType=LOGNVARCHAR},
			AFTFAT_CND = #{aftfatCnd, jdbcType=LOGNVARCHAR},
			RTRN_LC = #{rtrnLc, jdbcType=LOGNVARCHAR}
    where EVENT_ID = #{eventId,jdbcType=INTEGER}
      and UC_ID = #{ucId,jdbcType=INTEGER}
  </update>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from UC_EVENT_FLOW
    where EVENT_ID = #{0, eventId}
      and UC_ID = #{1, ucId}
  </delete>  
  
 </mapper>