<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UcM">
	<resultMap id="UcMResult" type="UcM">
		<id     property="ucId"   column="UC_ID"/>
		<result     property="ucIdntfr"   column="UC_IDNTFR"/>
		<result     property="ucNm"   column="UC_NM"/>
		<result     property="sumry"   column="SUMRY"/>
		<result     property="chnge"   column="CHNGE"/>
		<result     property="adiMatter"   column="ADI_MATTER"/>
		<result     property="senario_dc"   column="SENARIO_DC"/>
		<result     property="refrnUcAt"   column="REFRN_UC_AT"/>
		<result     property="cmmnUcAt"   column="CMMN_UC_AT"/>
		<result     property="procsId"   column="PROCS_ID"/>
	</resultMap> 

  <select id="findById" parameterType="java.util.HashMap" resultMap="UcMResult">
    select *
    from UC_M
    where UC_ID = #{0,ucId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="UcMResult">
    select *
    from UC_M
  </select>
  <insert id="insert" parameterType="UcM">
    insert into UC_M (
			UC_IDNTFR,
			UC_NM,
			SUMRY,
			CHNGE,
			ADI_MATTER,
			SENARIO_DC,
			REFRN_UC_AT,
			CMMN_UC_AT,
			PROCS_ID
      )
    values (
			#{ucIdntfr, jdbcType=VARCHAR},
			#{ucNm, jdbcType=VARCHAR},
			#{sumry, jdbcType=LONGVARCHAR},
			#{chnge, jdbcType=LONGVARCHAR},
			#{adiMatter, jdbcType=LONGVARCHAR},
			#{senario_dc, jdbcType=LONGVARCHAR},
			#{refrnUcAt, jdbcType=CHAR},
			#{cmmnUcAt, jdbcType=CHAR},
			#{procsId, jdbcType=INTEGER}
      )
  <!--parameterType="java.lang.Integer"--> 
  </insert>
  <update id="update" parameterType="UcM">
    update UC_M SET
			UC_IDNTFR = #{ucIdntfr, jdbcType=VARCHAR},
			UC_NM = #{ucNm, jdbcType=VARCHAR},
			SUMRY = #{sumry, jdbcType=LOGNVARCHAR},
			CHNGE = #{chnge, jdbcType=LOGNVARCHAR},
			ADI_MATTER = #{adiMatter, jdbcType=LOGNVARCHAR},
			SENARIO_DC = #{senario_dc, jdbcType=LOGNVARCHAR},
			REFRN_UC_AT = #{refrnUcAt, jdbcType=CHAR},
			CMMN_UC_AT = #{cmmnUcAt, jdbcType=CHAR},
			PROCS_ID = #{procsId, jdbcType=INTEGER}
    where UC_ID = #{ucId,jdbcType=INTEGER}
  </update>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from UC_M
    where UC_ID = #{0,ucId}
  </delete>  
  
 </mapper>