<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TestPln">
	<resultMap id="TestPlnResult" type="TestPln">
		<id     property="testPlnId"   column="TEST_PLN_ID"/>
		<result     property="test_ty"   column="TEST_TY"/>
		<result     property="test_iem"   column="TEST_IEM"/>
		<result     property="testcase_nm"   column="TESTCASE_NM"/>
		<result     property="input_value"   column="INPUT_VALUE"/>
		<result     property="dicaryCndDc"   column="DICARY_CND_DC"/>
		<result     property="expect_result"   column="EXPECT_RESULT"/>
		<result     property="testExcProcss_dc"   column="TEST_EXC_PROCSS_DC"/>
	</resultMap> 

  <select id="findById" parameterType="java.util.HashMap" resultMap="TestPlnResult">
    select *
    from TEST_PLN
    where TEST_PLN_ID = #{0, testPlnId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="TestPlnResult">
    select *
    from TEST_PLN
  </select>
  <insert id="insert" parameterType="TestPln">
    insert into TEST_PLN (
			TEST_TY,
			TEST_IEM,
			TESTCASE_NM,
			INPUT_VALUE,
			DICARY_CND_DC,
			EXPECT_RESULT,
			TEST_EXC_PROCSS_DC
      )
    values (
			#{test_ty, jdbcType=VARCHAR},
			#{test_iem, jdbcType=VARCHAR},
			#{testcase_nm, jdbcType=VARCHAR},
			#{input_value, jdbcType=LONGVARCHAR},
			#{dicaryCndDc, jdbcType=LONGVARCHAR},
			#{expect_result, jdbcType=LONGVARCHAR},
			#{testExcProcss_dc, jdbcType=LONGVARCHAR}
      )
  <!--parameterType="java.lang.Integer"--> 
  </insert>
  <update id="update" parameterType="TestPln">
    update TEST_PLN SET
			TEST_TY = #{test_ty, jdbcType=VARCHAR},
			TEST_IEM = #{test_iem, jdbcType=VARCHAR},
			TESTCASE_NM = #{testcase_nm, jdbcType=VARCHAR},
			INPUT_VALUE = #{input_value, jdbcType=LOGNVARCHAR},
			DICARY_CND_DC = #{dicaryCndDc, jdbcType=LOGNVARCHAR},
			EXPECT_RESULT = #{expect_result, jdbcType=LOGNVARCHAR},
			TEST_EXC_PROCSS_DC = #{testExcProcss_dc, jdbcType=LOGNVARCHAR}
    where TEST_PLN_ID = #{testPlnId,jdbcType=INTEGER}
  </update>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from TEST_PLN
    where TEST_PLN_ID = #{0, testPlnId}
  </delete>  
  
 </mapper>