<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TestPln">
	<resultMap id="TestPlnResult" type="TestPln">
		<id     property="testPlnId"   column="TEST_PLN_ID"/>
		<result     property="test_ty"   column="TEST_TY"/>
		<result     property="test_iem"   column="TEST_IEM"/>
		<result     property="testcase_nm"   column="TESTCASE_NM"/>
		<result     property="input_value"   column="INPUT_VALUE"/>
		<result     property="dicaryCndDc"   column="DICARY_CND_DC"/>
		<result     property="expect_result"   column="EXPECT_RESULT"/>
		<result     property="testExcProcss_dc"   column="TEST_EXC_PROCSS_DC"/>
	</resultMap> 

  <select id="findById" parameterType="java.util.HashMap" resultMap="TestPlnResult">
    select *
    from TEST_PLN
    where TEST_PLN_ID = #{0, testPlnId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="TestPlnResult">
    select *
    from TEST_PLN
  </select>
  <insert id="insert" parameterType="TestPln">
    insert into TEST_PLN (WORD_NM, 
    				  KR_NM, 
      				  EN_NM, 
      				  KR_ABRV, 
      				  EN_ABRV, 
     				  WORD_APPLC_SCOPE, 
     				  ETC_MATTER_DC, 
     				  WORD_DFN
      )
    values (#{wordNm,			jdbcType=VARCHAR}, 
    		#{krNm,				jdbcType=VARCHAR}, 
      		#{enNm,				jdbcType=VARCHAR}, 
      		#{krAbrv,			jdbcType=VARCHAR}, 
      		#{enAbrv,			jdbcType=VARCHAR}, 
      		#{wordApplcScope,	jdbcType=VARCHAR}, 
      		#{etcMatterDc,		jdbcType=VARCHAR}, 
      		#{wordDfn,			jdbcType=LONGVARCHAR}
      )
  <!--parameterType="java.lang.Integer"--> 
  </insert>
  <update id="update" parameterType="TestPln">
    update TEST_PLN
    <set>
      <if test="wordNm 			!= null">WORD_NM 			= #{wordNm,			jdbcType=VARCHAR},		</if>
      <if test="krNm 			!= null">KR_NM 				= #{krNm,			jdbcType=VARCHAR},		</if>
      <if test="enNm 			!= null">EN_NM 				= #{enNm,			jdbcType=VARCHAR},		</if>
      <if test="krAbrv 			!= null">KR_ABRV 			= #{krAbrv,			jdbcType=VARCHAR},		</if>
      <if test="enAbrv 			!= null">EN_ABRV 			= #{enAbrv,			jdbcType=VARCHAR},		</if>
      <if test="wordApplcScope  != null">WORD_APPLC_SCOPE 	= #{wordApplcScope,	jdbcType=VARCHAR},		</if>
      <if test="etcMatterDc 	!= null">ETC_MATTER_DC 		= #{etcMatterDc,	jdbcType=VARCHAR},		</if>
      <if test="wordDfn 		!= null">WORD_DFN 			= #{wordDfn,		jdbcType=LONGVARCHAR},	</if>
    </set>
    where TEST_PLN_ID = #{testPlnId,jdbcType=INTEGER}
  </update>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from TEST_PLN
    where TEST_PLN_ID = #{0, testPlnId}
  </delete>  
  
 </mapper>