<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TestResult">
	<resultMap id="TestResultResult" type="TestResult">
		<id     property="testResultId"   column="TEST_RESULT_ID"/>
		<id     property="testPlnId"   column="TEST_PLN_ID"/>
		<result     property="test_ty"   column="TEST_TY"/>
		<result     property="real_result"   column="REAL_RESULT"/>
		<result     property="testExcDe"   column="TEST_EXC_DE"/>
		<result     property="testExcMan"   column="TEST_EXC_MAN"/>
		<result     property="error_cn"   column="ERROR_CN"/>
		<result     property="managt_cn"   column="MANAGT_CN"/>
		<result     property="managtDe"   column="MANAGT_DE"/>
		<result     property="maner"   column="MANER"/>

	</resultMap> 

  <select id="findById" parameterType="java.util.HashMap" resultMap="TestResultResult">
    select *
    from TEST_RESULT
    where TEST_RESULT_ID = #{0, testResultId}
      AND TEST_PLN_ID = #{1, testPlnId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="TestResultResult">
    select *
    from TEST_RESULT
  </select>
  <insert id="insert" parameterType="TestResult">
    insert into TEST_RESULT (
			TEST_PLN_ID,
			TEST_TY,
			REAL_RESULT,
			TEST_EXC_DE,
			TEST_EXC_MAN,
			ERROR_CN,
			MANAGT_CN,
			MANAGT_DE,
			MANER
      )
    values (
			#{testPlnId, jdbcType=INTEGER},
			#{test_ty, jdbcType=VARCHAR},
			#{real_result, jdbcType=LONGVARCHAR},
			#{testExcDe, jdbcType=LONGVARCHAR},
			#{testExcMan, jdbcType=VARCHAR},
			#{error_cn, jdbcType=LONGVARCHAR},
			#{managt_cn, jdbcType=LONGVARCHAR},
			#{managtDe, jdbcType=TIMESTAMP},
			#{maner, jdbcType=VARCHAR}
      )
  <!--parameterType="java.lang.Integer"--> 
  </insert>
  <update id="update" parameterType="TestResult">
    update TEST_RESULT SET
			TEST_PLN_ID = #{testPlnId, jdbcType=INTEGER},
			TEST_TY = #{test_ty, jdbcType=VARCHAR},
			REAL_RESULT = #{real_result, jdbcType=LOGNVARCHAR},
			TEST_EXC_DE = #{testExcDe, jdbcType=LOGNVARCHAR},
			TEST_EXC_MAN = #{testExcMan, jdbcType=VARCHAR},
			ERROR_CN = #{error_cn, jdbcType=LOGNVARCHAR},
			MANAGT_CN = #{managt_cn, jdbcType=LOGNVARCHAR},
			MANAGT_DE = #{managtDe, jdbcType=TIMESTAMP},
			MANER = #{maner, jdbcType=VARCHAR}
    where TEST_RESULT_ID = #{testResultId,jdbcType=INTEGER}
      AND TEST_PLN_ID = #{testPlnId,jdbcType=INTEGER}
  </update>
  <delete id="delete" parameterType="java.lang.Integer">
    delete FROM TEST_RESULT
    where TEST_RESULT_ID = #{0, testResultId}
      AND TEST_PLN_ID = #{1, testPlnId}
  </delete>  
  
 </mapper>