<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BizActorDeptMap">	
	<resultMap id="BizActorDeptMapResult" type="BizActorDeptMap">
		<id     property="bizActorId"   	column="BIZ_ACTOR_ID"/>
		<id     property="deptId"   		column="DEPT_ID"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="BizActorDeptMapResult">
    SELECT *
    FROM biz_actor_dept_map
    where BIZ_ACTOR_ID 		= #{0, bizActorId}
      and DEPT_ID 			= #{1, deptId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="BizActorDeptMapResult">
    SELECT *
    FROM biz_actor_dept_map
  </select>
  <insert id="insert" parameterType="BizActorDeptMap">
    insert into biz_actor_dept_map (
    	BIZ_ACTOR_ID, 
    	DEPT_ID
      )
    values (
    	#{bizActorId, 	jdbcType=INTEGER},
		#{deptId, 		jdbcType=INTEGER}
      )
  <!--parameterType="java.lang.Integer"-->
  </insert>
  <update id="update" parameterType="BizActorDeptMap">
    update biz_actor_dept_map
    set
		BIZ_ACTOR_ID = #{bizActorId, jdbcType=INTEGER},
		DEPT_ID = #{deptId, jdbcType=INTEGER}
    where BIZ_ACTOR_ID 		= #{bizActorId, 	jdbcType=INTEGER}
      and DEPT_ID 			= #{deptId, 		jdbcType=INTEGER}
    
  </update>
  <delete id="delete" parameterType="java.util.HashMap">
    delete from biz_actor_dept_map
     where BIZ_ACTOR_ID 		 = #{0, bizActorId}
       and DEPT_ID				 = #{1, deptId}
  </delete>  
  
 </mapper>