<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BizActor">	
	<resultMap id="BizActorResult" type="BizActor">
		<id     property="bizActorId"   column="BIZ_ACTOR_ID"/>
		<result     property="bizActorNm"   column="BIZ_ACTOR_NM"/>
		<result     property="bizActorDc"   column="BIZ_ACTOR_DC"/>
		<result     property="cndcyActorYn"   column="CNDCY_ACTOR_YN"/>
		<result     property="pckageId"   column="PCKAGE_ID"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="BizActorResult">
    SELECT *
    FROM biz_actor
    where BIZ_ACTOR_ID 		= #{0, bizActorId}
      and BIZ_ACTOR_ID		= #{1, deptId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="BizActorResult">
    SELECT *
    FROM biz_actor
  </select>
  <insert id="insert" parameterType="BizActor">
    insert into biz_actor (
		BIZ_ACTOR_NM,
		BIZ_ACTOR_DC,
		CNDCY_ACTOR_YN,
		PCKAGE_ID
      )
    values (
		#{bizActorNm, 	jdbcType=VARCHAR},
		#{bizActorDc, 	jdbcType=LOGNVARCHAR},
		#{cndcyActorYn, jdbcType=CHAR},
		#{pckageId, 	jdbcType=INTEGER}
      )
  <!--parameterType="java.lang.Integer"-->
  </insert>
  <update id="update" parameterType="BizActor">
    update biz_actor
	   SET
			BIZ_ACTOR_NM 	= #{bizActorNm, 	jdbcType=VARCHAR},
			BIZ_ACTOR_DC 	= #{bizActorDc, 	jdbcType=LOGNVARCHAR},
			CNDCY_ACTOR_YN 	= #{cndcyActorYn, 	jdbcType=CHAR},
			PCKAGE_ID 		= #{pckageId, 		jdbcType=INTEGER}
    where BIZ_ACTOR_ID = #{bizActorId,		jdbcType=INTEGER}
    
  </update>
  <delete id="delete" parameterType="java.util.HashMap">
    delete from biz_actor
     where BIZ_ACTOR_ID 		 = #{0, bizActorId}
  </delete>  
  
 </mapper>