<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BizCncpt">	
	<resultMap id="BizCncptResult" type="BizCncpt">
		<id     	property="cncptId"   column="CNCPT_ID"/>
		<result     property="cncptKrNm"   column="CNCPT_KR_NM"/>
		<result     property="cncptDc"   column="CNCPT_DC"/>
		<result     property="pckageId"   column="PCKAGE_ID"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="BizCncptResult">
    SELECT *
    FROM BIZ_CNCPT
    where BIZ_ACTOR_ID 		= #{0, bizActorId}
      and BIZ_ACTOR_ID		= #{1, deptId}
  </select>
  
  <select id="findList" parameterType="java.util.HashMap" resultMap="BizCncptResult">
    SELECT *
    FROM BIZ_CNCPT
  </select>
  
  <insert id="insert" parameterType="BizCncpt">
    insert into BIZ_CNCPT (
		CNCPT_KR_NM,
		CNCPT_DC,
		PCKAGE_ID
      )
    values (
		#{cncptKrNm, jdbcType=VARCHAR},
		#{cncptDc, jdbcType=LONGVARCHAR},
		#{pckageId, jdbcType=INTEGER}
      )
  <!--parameterType="java.lang.Integer"-->
  </insert>
  
  <update id="update" parameterType="BizCncpt">
    update BIZ_CNCPT
       SET
			CNCPT_KR_NM 	= #{cncptKrNm, 	jdbcType=VARCHAR},
			CNCPT_DC 		= #{cncptDc, 	jdbcType=LOGNVARCHAR},
			PCKAGE_ID 		= #{pckageId, 	jdbcType=INTEGER}
    where CNCPT_ID = #{cncptId, jdbcType=INTEGER},
  </update>
  
  <delete id="delete" parameterType="java.util.HashMap">
    delete from BIZ_CNCPT
     where CNCPT_ID 		 = #{0, cncptId}
  </delete>  
  
 </mapper>