<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BizCncptProcsMap">	
	<resultMap id="BizCncptProcsMapResult" type="BizCncptProcsMap">
		<id     property="cncptId"   column="CNCPT_ID"/>
		<id     property="procsId"   column="PROCS_ID"/>
		<id     property="relateSe"   column="RELATE_SE"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="BizCncptProcsMapResult">
    SELECT *
    FROM BIZ_CNCPT_PROCS_MAP
    where 	CNCPT_ID	= #{0, cncptId}
      AND	PROCS_ID	= #{1, procsId}
      AND	RELATE_SE	= #{2, relateSe}
  </select>
  
  <select id="findList" parameterType="java.util.HashMap" resultMap="BizCncptProcsMapResult">
    SELECT *
    FROM BIZ_CNCPT_PROCS_MAP
  </select>
  
  <insert id="insert" parameterType="BizCncptProcsMap">
    insert into BIZ_CNCPT_PROCS_MAP (    	
		PROCS_ID,
		RELATE_SE
      )
    values (
    	#{procsId, jdbcType=INTEGER},
		#{relateSe, jdbcType=CHAR}
      )
  </insert>
  
  <update id="update" parameterType="BizCncptProcsMap">
    update BIZ_CNCPT_PROCS_MAP
	   SET
			PROCS_ID = #{procsId, jdbcType=INTEGER},
			RELATE_SE = #{relateSe, jdbcType=CHAR}
    where 	CNCPT_ID	= #{cncptId, jdbcType=INTEGER}
      AND	PROCS_ID	= #{procsId, jdbcType=INTEGER}
      AND	RELATE_SE	= #{relateSe, jdbcType=CHAR}  
  </update>
  
  <delete id="delete" parameterType="java.util.HashMap">
    delete from BIZ_CNCPT_PROCS_MAP
    where 	CNCPT_ID	= #{0, cncptId}
      AND	PROCS_ID	= #{1, procsId}
      AND	RELATE_SE	= #{2, relateSe}
  </delete>  
  
 </mapper>