<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BizProcs">	
	<resultMap id="BizProcsResult" type="BizProcs">
		<id     	property="procsId"   column="PROCS_ID"/>
		<id     	property="pckageId"  column="PCKAGE_ID"/>
		<result     property="procsNm"   column="PROCS_NM"/>
		<result     property="procsCd"   column="PROCS_CD"/>
		<result     property="procsDc"   column="PROCS_DC"/>
		<result     property="cndcyUcYn" column="CNDCY_UC_YN"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="BizProcsResult">
    SELECT *
    FROM BIZ_PROCS
    where PROCS_ID 		= #{0, procsId}
      and PCKAGE_ID		= #{1, pckageId}
  </select>
  
  <select id="findList" parameterType="java.util.HashMap" resultMap="BizProcsResult">
    SELECT *
    FROM BIZ_PROCS
  </select>
  
  <insert id="insert" parameterType="BizProcs">
    insert into BIZ_PROCS (
			PCKAGE_ID,
			PROCS_NM,
			PROCS_CD,
			PROCS_DC,
			CNDCY_UC_YN
      )
    values (
			#{pckageId, jdbcType=INTEGER},
			#{procsNm, jdbcType=VARCHAR},
			#{procsCd, jdbcType=VARCHAR},
			#{procsDc, jdbcType=LONGVARCHAR},
			#{cndcyUcYn, jdbcType=CHAR}
      )
  </insert>
  
  <update id="update" parameterType="BizProcs">
    update BIZ_PROCS
    set
		PCKAGE_ID = #{pckageId, jdbcType=INTEGER},
		PROCS_NM = #{procsNm, jdbcType=VARCHAR},
		PROCS_CD = #{procsCd, jdbcType=VARCHAR},
		PROCS_DC = #{procsDc, jdbcType=LOGNVARCHAR},
		CNDCY_UC_YN = #{cndcyUcYn, jdbcType=CHAR}
    where PROCS_ID 		= #{0, procsId}
      and PCKAGE_ID		= #{1, pckageId}
  </update>
  
  <delete id="delete" parameterType="java.util.HashMap">
    delete from BIZ_PROCS
    where PROCS_ID 		= #{0, procsId}
      and PCKAGE_ID		= #{1, pckageId}
  </delete>  
  
 </mapper>