<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BizPkg">	
	<resultMap id="BizPkgResult" type="BizPkg">
		<id     property="pckageId"   column="PCKAGE_ID"/>
		<result     property="motherPckageId"   column="MOTHER_PCKAGE_ID"/>
		<result     property="pckageNm"   column="PCKAGE_NM"/>
		<result     property="pckageCd"   column="PCKAGE_CD"/>
		<result     property="pckageLvl"   column="PCKAGE_LVL"/>
		<result     property="pckageDc"   column="PCKAGE_DC"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="BizPkgResult">
    SELECT *
    FROM BIZ_PKG
    where PCKAGE_ID 		= #{0, pckageId}
  </select>
  
  <select id="findList" parameterType="java.util.HashMap" resultMap="BizPkgResult">
    SELECT *
    FROM BIZ_PKG
  </select>
  
  <insert id="insert" parameterType="BizPkg">
    insert into BIZ_PKG (
		PCKAGE_ID,
		MOTHER_PCKAGE_ID,
		PCKAGE_NM,
		PCKAGE_CD,
		PCKAGE_LVL,
		PCKAGE_DC
      )
    values (
		#{motherPckageId, 	jdbcType=INTEGER},
		#{pckageNm, 		jdbcType=VARCHAR},
		#{pckageCd, 		jdbcType=VARCHAR},
		#{pckageLvl, 		jdbcType=CHAR},
		#{pckageDc, 		jdbcType=LONGVARCHAR}
     )
  </insert>
  
  <update id="update" parameterType="BizPkg">
    update BIZ_PKG
	   SET
			PCKAGE_ID = #{pckageId, jdbcType=INTEGER},
			MOTHER_PCKAGE_ID = #{motherPckageId, jdbcType=INTEGER},
			PCKAGE_NM = #{pckageNm, jdbcType=VARCHAR},
			PCKAGE_CD = #{pckageCd, jdbcType=VARCHAR},
			PCKAGE_LVL = #{pckageLvl, jdbcType=CHAR},
			PCKAGE_DC = #{pckageDc, jdbcType=LOGNVARCHAR}	   
    where 	PCKAGE_ID = #{0, pckageId}
  </update>
  
  <delete id="delete" parameterType="java.util.HashMap">
    delete from BIZ_PKG
     where 	PCKAGE_ID = #{0, pckageId}
  </delete>  
  
 </mapper>