<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BizRule">	
	<resultMap id="BizRuleResult" type="BizRule">
		<id     	property="bizActnId"   	column="BIZ_ACTN_ID"/>
		<id     	property="procsId"   	column="PROCS_ID"/>
		<result     property="bizActnNm"   	column="BIZ_ACTN_NM"/>
		<result     property="bizRuleNm"   	column="BIZ_RULE_NM"/>
		<result     property="bizRuleDc"   	column="BIZ_RULE_DC"/>
		<result     property="cndcyEventYn" column="CNDCY_EVENT_YN"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="BizRuleResult">
    SELECT *
    FROM BIZ_RULE
    where BIZ_ACTN_ID 		= #{0, bizActnId}
      and PROCS_ID			= #{1, procsId}
  </select>
  
  <select id="findList" parameterType="java.util.HashMap" resultMap="BizRuleResult">
    SELECT *
    FROM BIZ_RULE
  </select>
  
  <insert id="insert" parameterType="BizRule">
    insert into BIZ_RULE (
    			BIZ_ACTN_ID,
				PROCS_ID,
				BIZ_ACTN_NM,
				BIZ_RULE_NM,
				BIZ_RULE_DC,
				CNDCY_EVENT_YN
      )
    values (
    			#{bizActnId, jdbcType=INTEGER},
				#{procsId, jdbcType=INTEGER},
				#{bizActnNm, jdbcType=VARCHAR},
				#{bizRuleNm, jdbcType=VARCHAR},
				#{bizRuleDc, jdbcType=LONGVARCHAR},
				#{cndcyEventYn, jdbcType=CHAR}
      )
  </insert>
  
  <update id="update" parameterType="BizRule">
    update BIZ_RULE
    set
			BIZ_ACTN_NM = #{bizActnNm, jdbcType=VARCHAR},
			BIZ_RULE_NM = #{bizRuleNm, jdbcType=VARCHAR},
			BIZ_RULE_DC = #{bizRuleDc, jdbcType=LOGNVARCHAR},
			CNDCY_EVENT_YN = #{cndcyEventYn, jdbcType=CHAR}
    where BIZ_ACTN_ID = #{bizActnId, jdbcType=INTEGER}
      and PROCS_ID = #{procsId, jdbcType=INTEGER}        
  </update>
  
  <delete id="delete" parameterType="java.util.HashMap">
    delete from BIZ_RULE
    where BIZ_ACTN_ID 		= #{0, bizActnId}
      and PROCS_ID			= #{1, procsId} 
  </delete>  
  
 </mapper>