<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BizRule">	
	<resultMap id="BizRuleResult" type="BizRule">
		<id     property="bizActnId"   column="BIZ_ACTN_ID"/>
		<id     property="procsId"   column="PROCS_ID"/>
		<result     property="bizActnNm"   column="BIZ_ACTN_NM"/>
		<result     property="bizRuleNm"   column="BIZ_RULE_NM"/>
		<result     property="bizRuleDc"   column="BIZ_RULE_DC"/>
		<result     property="cndcyEventYn"   column="CNDCY_EVENT_YN"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="BizRuleResult">
    SELECT *
    FROM biz_actor_dept_map
    where BIZ_ACTOR_ID 		= #{0, bizActorId}
      and BIZ_ACTOR_ID		= #{1, deptId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="BizRuleResult">
    SELECT *
    FROM biz_actor_dept_map
  </select>
  <insert id="insert" parameterType="BizRule">
    insert into CODE_D (CODE_ID, 
    					CODE_VALUE, 
      				  	CODE_VALUE_NM, 
      				  	DC
      )
    values (#{codeID,		jdbcType=INTEGER}, 
    		#{codeValue,	jdbcType=VARCHAR}, 
      		#{codeValueNm,	jdbcType=VARCHAR}, 
      		#{dc,			jdbcType=LONGVARCHAR}
      )
  <!--parameterType="java.lang.Integer"-->
  </insert>
  <update id="update" parameterType="BizRule">
    update CODE_D
    <set>
      <if test="codeValue 	!= null">	CODE_VALUE 		= #{codeValue,	jdbcType=VARCHAR},		</if>
      <if test="codeValueNm != null">	CODE_VALUE_NM 	= #{codeValueNm,jdbcType=VARCHAR},		</if>
      <if test="dc 			!= null">	DC 				= #{dc,			jdbcType=LONGVARCHAR},  </if>
    </set>
    where CODE_ID 		= #{codeID,		jdbcType=INTEGER}
      and CODE_VALUE_ID = #{codeValueID,jdbcType=INTEGER}
    
  </update>
  <delete id="delete" parameterType="java.util.HashMap">
    delete from CODE_D
     where CODE_ID 		 = #{0, codeID}
       and CODE_VALUE_ID = #{1, codeValueID}
  </delete>  
  
 </mapper>