<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CompImplClass">	
	<resultMap id="CompImplClassResult" type="CompImplClass">
		<id     property="innerClassId"   column="INNER_CLASS_ID"/>
		<id     property="compnId"   column="COMPN_ID"/>
		<result     property="embdClassNm"   column="EMBD_CLASS_NM"/>
		<result     property="embdClassDc"   column="EMBD_CLASS_DC"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="CompImplClassResult">
    SELECT *
    FROM COMP_IMPL_CLASS
    where INNER_CLASS_ID 		= #{0, innerClassId}
      and COMPN_ID		= #{1, compnId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="CompImplClassResult">
    SELECT *
    FROM COMP_IMPL_CLASS
  </select>
  <insert id="insert" parameterType="CompImplClass">
    insert into COMP_IMPL_CLASS (
			COMPN_ID,
			EMBD_CLASS_NM,
			EMBD_CLASS_DC
      )
    values (
			#{compnId, jdbcType=INTEGER},
			#{embdClassNm, jdbcType=VARCHAR},
			#{embdClassDc, jdbcType=LONGVARCHAR}
      )
  <!--parameterType="java.lang.Integer"-->
  </insert>
  <update id="update" parameterType="CompImplClass">
    update COMP_IMPL_CLASS
    set
			COMPN_ID = #{compnId, jdbcType=INTEGER},
			EMBD_CLASS_NM = #{embdClassNm, jdbcType=VARCHAR},
			EMBD_CLASS_DC = #{embdClassDc, jdbcType=LOGNVARCHAR}
    where INNER_CLASS_ID 		= #{innerClassId,		jdbcType=INTEGER}
      and COMPN_ID = #{compnId,jdbcType=INTEGER}
    
  </update>
  <delete id="delete" parameterType="java.util.HashMap">
    delete from COMP_IMPL_CLASS
    where INNER_CLASS_ID 		= #{0, innerClassId}
      and COMPN_ID		= #{1, compnId}
  </delete>  
  
 </mapper>