<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CompM">	
	<resultMap id="CompMResult" type="CompM">
		<id     property="compnId"   column="COMPN_ID"/>
		<result     property="compnNm"   column="COMPN_NM"/>
		<result     property="dc"   column="DC"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="CompMResult">
    SELECT *
    FROM COMP_M
    where COMPN_ID 		= #{0, compnId}
  </select>
  
  <select id="findList" parameterType="java.util.HashMap" resultMap="CompMResult">
    SELECT *
    FROM COMP_M
  </select>
  
  <insert id="insert" parameterType="CompM">
    insert into CODE_D (CODE_ID, 
    					CODE_VALUE, 
      				  	CODE_VALUE_NM, 
      				  	DC
      )
    values (#{codeID,		jdbcType=INTEGER}, 
    		#{codeValue,	jdbcType=VARCHAR}, 
      		#{codeValueNm,	jdbcType=VARCHAR}, 
      		#{dc,			jdbcType=LONGVARCHAR}
      )
  </insert>
  
  <update id="update" parameterType="CompM">
    update COMP_M
    <set>
      <if test="codeValue 	!= null">	CODE_VALUE 		= #{codeValue,	jdbcType=VARCHAR},		</if>
      <if test="codeValueNm != null">	CODE_VALUE_NM 	= #{codeValueNm,jdbcType=VARCHAR},		</if>
      <if test="dc 			!= null">	DC 				= #{dc,			jdbcType=LONGVARCHAR},  </if>
    </set>
    where COMPN_ID 		= #{compnId,		jdbcType=INTEGER}    
  </update>
  
  <delete id="delete" parameterType="java.util.HashMap">
    delete from COMP_M
     where COMPN_ID 		= #{0, compnId}
  </delete>  
  
 </mapper>