<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CompInnerClassAttrb">	
	<resultMap id="CompInnerClassAttrbResult" type="CompInnerClassAttrb">
		<id     property="atrbId"   column="ATRB_ID"/>
		<id     property="innerClassId"   column="INNER_CLASS_ID"/>
		<id     property="compnId"   column="COMPN_ID"/>
		<result     property="attrbNm"   column="ATTRB_NM"/>
		<result     property="visiblty"   column="VISIBLTY"/>
		<result     property="ty"   column="TY"/>
		<result     property="bassValue"   column="BASS_VALUE"/>
		<result     property="dc"   column="DC"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="CompInnerClassAttrbResult">
    SELECT *
    FROM COMP_INNER_CLASS_ATTRB
    where ATRB_ID 		 = #{0, atrbId}
      and INNER_CLASS_ID = #{1, innerClassId}
      and COMPN_ID		 = #{1, compnId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="CompInnerClassAttrbResult">
    SELECT *
    FROM COMP_INNER_CLASS_ATTRB
  </select>
  <insert id="insert" parameterType="CompInnerClassAttrb">
    insert into CODE_D (CODE_ID, 
    					CODE_VALUE, 
      				  	CODE_VALUE_NM, 
      				  	DC
      )
    values (#{codeID,		jdbcType=INTEGER}, 
    		#{codeValue,	jdbcType=VARCHAR}, 
      		#{codeValueNm,	jdbcType=VARCHAR}, 
      		#{dc,			jdbcType=LONGVARCHAR}
      )
  <!--parameterType="java.lang.Integer"-->
  </insert>
  <update id="update" parameterType="CompInnerClassAttrb">
    update COMP_INNER_CLASS_ATTRB
    set
			INNER_CLASS_ID = #{innerClassId, jdbcType=INTEGER},
			COMPN_ID = #{compnId, jdbcType=INTEGER},
			ATTRB_NM = #{attrbNm, jdbcType=VARCHAR},
			VISIBLTY = #{visiblty, jdbcType=VARCHAR},
			TY = #{ty, jdbcType=CHAR},
			BASS_VALUE = #{bassValue, jdbcType=VARCHAR},
			DC = #{dc, jdbcType=LOGNVARCHAR}
    where ATRB_ID 		= #{atrbId,		jdbcType=INTEGER}
      and INNER_CLASS_ID = #{innerClassId,jdbcType=INTEGER}
      and COMPN_ID = #{compnId,jdbcType=INTEGER}
          
  </update>
  <delete id="delete" parameterType="java.util.HashMap">
    delete FROM COMP_INNER_CLASS_ATTRB
    where ATRB_ID 		 = #{0, atrbId}
      and INNER_CLASS_ID = #{1, innerClassId}
      and COMPN_ID		 = #{1, compnId}
  </delete>  
  
 </mapper>