<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CompM">	
	<resultMap id="CompMResult" type="CompM">
		<id     property="compnId"   column="COMPN_ID"/>
		<result     property="compnNm"   column="COMPN_NM"/>
		<result     property="dc"   column="DC"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="CompMResult">
    SELECT *
    FROM COMP_M
    where COMPN_ID 		= #{0, compnId}
  </select>
  
  <select id="findList" parameterType="java.util.HashMap" resultMap="CompMResult">
    SELECT *
    FROM COMP_M
  </select>
  
  <insert id="insert" parameterType="CompM">
    insert into CODE_D (
			COMPN_NM,
			DC
      )
    values (
			#{compnNm, jdbcType=VARCHAR},
			#{dc, jdbcType=LONGVARCHAR}
      )
  </insert>
  
  <update id="update" parameterType="CompM">
    update COMP_M
    set
			COMPN_NM = #{compnNm, jdbcType=VARCHAR},
			DC = #{dc, jdbcType=LOGNVARCHAR}
    
    where COMPN_ID 		= #{compnId,		jdbcType=INTEGER}    
  </update>
  
  <delete id="delete" parameterType="java.util.HashMap">
    delete from COMP_M
     where COMPN_ID 		= #{0, compnId}
  </delete>  
  
 </mapper>