<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CompIfclass">	
	<resultMap id="CompIfclassResult" type="CompIfclass">
		<id     property="compnId"   column="COMPN_ID"/>
		<id     property="ifOprtinId"   column="IF_OPRTIN_ID"/>
		<result     property="ifOprtinNm"   column="IF_OPRTIN_NM"/>
		<result     property="dc"   column="DC"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="CompIfclassResult">
    SELECT *
    FROM COMP_IFCLASS
    where COMPN_ID 		= #{0, compnId}
      and IF_OPRTIN_ID	= #{1, ifOprtinId}
  </select>
  
  <select id="findList" parameterType="java.util.HashMap" resultMap="CompIfclassResult">
    SELECT *
    FROM COMP_IFCLASS
    where COMPN_ID 		= #{0, compnId}
      and IF_OPRTIN_ID	= #{1, ifOprtinId}
  </select>
  
  <insert id="insert" parameterType="CompIfclass">
    insert into COMP_IFCLASS (
			IF_OPRTIN_ID,
			IF_OPRTIN_NM,
			DC
      )
    values (
			#{ifOprtinId, jdbcType=INTEGER},
			#{ifOprtinNm, jdbcType=VARCHAR},
			#{dc, jdbcType=LONGVARCHAR}
      )
  </insert>
  
  <update id="update" parameterType="CompIfclass">
    update COMP_IFCLASS
    set
		IF_OPRTIN_ID = #{ifOprtinId, jdbcType=INTEGER},
		IF_OPRTIN_NM = #{ifOprtinNm, jdbcType=VARCHAR},
		DC = #{dc, jdbcType=LOGNVARCHAR}
    where COMPN_ID 		= #{compnId,		jdbcType=INTEGER}
      and IF_OPRTIN_ID  = #{ifOprtinId,		jdbcType=INTEGER}    
  </update>
  
  <delete id="delete" parameterType="java.util.HashMap">
    delete from COMP_IFCLASS
    where COMPN_ID 		= #{0, compnId}
      and IF_OPRTIN_ID	= #{1, ifOprtinId}
  </delete>  
  
 </mapper>