<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UdaCluster">	
	<resultMap id="UdaClusterResult" type="UdaCluster">
		<id     property="ucId"   column="UC_ID"/>
		<id     property="classEnNm"   column="CLASS_EN_NM"/>
		<result     property="grad"   column="GRAD"/>
		<result     property="acces_value"   column="ACCES_VALUE"/>
		<result     property="wghtval"   column="WGHTVAL"/>
		<result     property="compnYy"   column="COMPN_TY"/>
		<result     property="compnNm"   column="COMPN_NM"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="UdaClusterResult">
    SELECT *
    FROM UDA_CLUSTER
    where UC_ID 		= #{0, ucId}
      and CLASS_EN_NM	= #{1, classEnNm}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="UdaClusterResult">
    SELECT *
    FROM UDA_CLUSTER
  </select>
  <insert id="insert" parameterType="UdaCluster">
    insert into UDA_CLUSTER (
    		UC_ID,
			CLASS_EN_NM,
			GRAD,
			ACCES_VALUE,
			WGHTVAL,
			COMPN_TY,
			COMPN_NM
      )
    values (
			#{ucId, jdbcType=INTEGER},
			#{classEnNm, jdbcType=INTEGER},
			#{grad, jdbcType=CHAR},
			#{acces_value, jdbcType=TIMESTAMP},
			#{wghtval, jdbcType=TIMESTAMP},
			#{compnYy, jdbcType=CHAR},
			#{compnNm, jdbcType=VARCHAR}
	)
  <!--parameterType="java.lang.Integer"-->
  </insert>
  <update id="update" parameterType="UdaCluster">
    update UDA_CLUSTER SET
		UC_ID = #{ucId, jdbcType=INTEGER},
		CLASS_EN_NM = #{classEnNm, jdbcType=INTEGER},
		GRAD = #{grad, jdbcType=CHAR},
		ACCES_VALUE = #{acces_value, jdbcType=TIMESTAMP},
		WGHTVAL = #{wghtval, jdbcType=TIMESTAMP},
		COMPN_TY = #{compnYy, jdbcType=CHAR},
		COMPN_NM = #{compnNm, jdbcType=VARCHAR}
    where UC_ID 		= #{ucId,		jdbcType=INTEGER}
      and CLASS_EN_NM = #{classEnNm,jdbcType=INTEGER}
    
  </update>
  <delete id="delete" parameterType="java.util.HashMap">
    delete from UDA_CLUSTER
    where UC_ID 		= #{0, ucId}
      and CLASS_EN_NM	= #{1, classEnNm}
  </delete>  
  
 </mapper>