<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UdaCluster">	
	<resultMap id="UdaClusterResult" type="UdaCluster">
		<id     property="ucId"   column="UC_ID"/>
		<id     property="classEnNm"   column="CLASS_EN_NM"/>
		<result     property="grad"   column="GRAD"/>
		<result     property="acces_value"   column="ACCES_VALUE"/>
		<result     property="wghtval"   column="WGHTVAL"/>
		<result     property="compnYy"   column="COMPN_TY"/>
		<result     property="compnNm"   column="COMPN_NM"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="UdaClusterResult">
    SELECT *
    FROM UDA_CLUSTER
    where UC_ID 		= #{0, ucId}
      and CLASS_EN_NM	= #{1, classEnNm}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="UdaClusterResult">
    SELECT *
    FROM UDA_CLUSTER
  </select>
  <insert id="insert" parameterType="UdaCluster">
    insert into UDA_CLUSTER (CODE_ID, 
    					CODE_VALUE, 
      				  	CODE_VALUE_NM, 
      				  	DC
      )
    values (#{codeID,		jdbcType=INTEGER}, 
    		#{codeValue,	jdbcType=VARCHAR}, 
      		#{codeValueNm,	jdbcType=VARCHAR}, 
      		#{dc,			jdbcType=LONGVARCHAR}
      )
  <!--parameterType="java.lang.Integer"-->
  </insert>
  <update id="update" parameterType="UdaCluster">
    update UDA_CLUSTER
    <set>
      <if test="codeValue 	!= null">	CODE_VALUE 		= #{codeValue,	jdbcType=VARCHAR},		</if>
      <if test="codeValueNm != null">	CODE_VALUE_NM 	= #{codeValueNm,jdbcType=VARCHAR},		</if>
      <if test="dc 			!= null">	DC 				= #{dc,			jdbcType=LONGVARCHAR},  </if>
    </set>
    where UC_ID 		= #{ucId,		jdbcType=INTEGER}
      and CLASS_EN_NM = #{classEnNm,jdbcType=INTEGER}
    
  </update>
  <delete id="delete" parameterType="java.util.HashMap">
    delete from UDA_CLUSTER
    where UC_ID 		= #{0, ucId}
      and CLASS_EN_NM	= #{1, classEnNm}
  </delete>  
  
 </mapper>