<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UiAuthorMap">
	<resultMap id="UiAuthorMapResult" type="UiAuthorMap">
		<id     property="authorId"   			column="AUTHOR_ID"/>
		<id     property="scrinId"   			column="SCRIN_ID"/>
		<result     property="authorApplcYn"    column="AUTHOR_APPLC_YN"/>
	</resultMap> 

  <select id="findById" parameterType="java.util.HashMap" resultMap="UiAuthorMapResult">
    select *
    from UI_AUTHOR_MAP
    where AUTHOR_ID = #{0, authorId}
      AND SCRIN_ID  = #{1, scrinId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="UiAuthorMapResult">
    select *
    from UI_AUTHOR_MAP
  </select>
  <insert id="insert" parameterType="UiAuthorMap">
    insert into UI_AUTHOR_MAP (
				AUTHOR_ID,
				SCRIN_ID,
				AUTHOR_APPLC_YN
      )
    values (
				#{authorId, jdbcType=INTEGER},
				#{scrinId, jdbcType=INTEGER},
				#{authorApplcYn, jdbcType=CHAR}
      )
  <!--parameterType="java.lang.Integer"--> 
  </insert>
  <update id="update" parameterType="UiAuthorMap">
    update UI_AUTHOR_MAP SET
			AUTHOR_ID = #{authorId, jdbcType=INTEGER},
			SCRIN_ID = #{scrinId, jdbcType=INTEGER},
			AUTHOR_APPLC_YN = #{authorApplcYn, jdbcType=CHAR}
    where AUTHOR_ID = #{authorId,jdbcType=INTEGER}
      AND SCRIN_ID = #{scrinId,jdbcType=INTEGER}
  </update>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from UI_AUTHOR_MAP
    where AUTHOR_ID = #{0, authorId}
      AND SCRIN_ID  = #{1, scrinId}
  </delete>  
  
 </mapper>