<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UiAuthor">
	<resultMap id="UiAuthorResult" type="UiAuthor">
		<id     	property="authorId"   column="AUTHOR_ID"/>
		<result     property="authorNm"   column="AUTHOR_NM"/>
	</resultMap> 

  <select id="findById" parameterType="java.util.HashMap" resultMap="UiAuthorResult">
    select *
    from UI_AUTHOR
    where AUTHOR_ID = #{0, authorId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="UiAuthorResult">
    select *
    from UI_AUTHOR
  </select>
  <insert id="insert" parameterType="UiAuthor">
    insert into UI_AUTHOR (
			AUTHOR_NM
      )
    values (
			#{authorNm, jdbcType=VARCHAR}
      )
  <!--parameterType="java.lang.Integer"--> 
  </insert>
  <update id="update" parameterType="UiAuthor">
    update UI_AUTHOR SET
			AUTHOR_NM = #{authorNm, jdbcType=VARCHAR}
    where AUTHOR_ID = #{authorId,jdbcType=INTEGER}
  </update>
  <delete id="delete" parameterType="java.util.HashMap">
    delete from UI_AUTHOR
    where AUTHOR_ID = #{0, authorId}
  </delete>  
  
 </mapper>