<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UiMenuPkg">
	<resultMap id="UiMenuPkgResult" type="UiMenuPkg">
		<id     property="menuId"   column="MENU_ID"/>
		<result     property="motherMenuId"   column="MOTHER_MENU_ID"/>
		<result     property="menuNm"   column="MENU_NM"/>
		<result     property="menuCode"   column="MENU_CODE"/>
	</resultMap> 

  <select id="findById" parameterType="java.util.HashMap" resultMap="UiMenuPkgResult">
    select *
    from UI_MENU_PKG
    where MENU_ID = #{0, menuId}
      AND MOTHER_MENU_ID = #{1, motherMenuId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="UiMenuPkgResult">
    select *
    from UI_MENU_PKG
  </select>
  <insert id="insert" parameterType="UiMenuPkg">
    insert into UI_MENU_PKG (			
			MOTHER_MENU_ID,
			MENU_NM,
			MENU_CODE
      )
    values (
			#{motherMenuId, jdbcType=INTEGER},
			#{menuNm, jdbcType=VARCHAR},
			#{menuCode, jdbcType=VARCHAR}
      )
  <!--parameterType="java.lang.Integer"--> 
  </insert>
  <update id="update" parameterType="UiMenuPkg">
    update UI_MENU_PKG SET
			MOTHER_MENU_ID = #{motherMenuId, jdbcType=INTEGER},
			MENU_NM = #{menuNm, jdbcType=VARCHAR},
			MENU_CODE = #{menuCode, jdbcType=VARCHAR}
    where MENU_ID = #{menuId,jdbcType=INTEGER}
      AND MOTHER_MENU_ID = #{motherMenuId,jdbcType=INTEGER}
  </update>
  <delete id="delete" parameterType="java.util.HashMap">
    delete from UI_MENU_PKG
    where MENU_ID = #{0, menuId}
      AND MOTHER_MENU_ID = #{1, motherMenuId}
  </delete>  
  
 </mapper>