<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UiM">
	<resultMap id="UiMResult" type="UiM">
		<id     property="scrinId"   column="SCRIN_ID"/>
		<result     property="scrinIdntfr"   column="SCRIN_IDNTFR"/>
		<result     property="scrinNm"   column="SCRIN_NM"/>
		<result     property="scrinDc"   column="SCRIN_DC"/>
		<result     property="scrtyGrad"   column="SCRTY_GRAD"/>
		<result     property="ty"   column="TY"/>
		<result     property="menuId"   column="MENU_ID"/>
	</resultMap> 

  <select id="findById" parameterType="java.util.HashMap" resultMap="UiMResult">
    select *
    from UI_M
    where SCRIN_ID = #{0, scrinId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="UiMResult">
    select *
    from UI_M
  </select>
  <insert id="insert" parameterType="UiM">
    insert into UI_M (			
			SCRIN_IDNTFR,
			SCRIN_NM,
			SCRIN_DC,
			SCRTY_GRAD,
			TY,
			MENU_ID
      )
    values (
			#{scrinIdntfr, jdbcType=VARCHAR},
			#{scrinNm, jdbcType=VARCHAR},
			#{scrinDc, jdbcType=LONGVARCHAR},
			#{scrtyGrad, jdbcType=CHAR},
			#{ty, jdbcType=CHAR},
			#{menuId, jdbcType=INTEGER}
      )
  <!--parameterType="java.lang.Integer"--> 
  </insert>
  <update id="update" parameterType="UiM">
    update UI_M SET
			SCRIN_IDNTFR = #{scrinIdntfr, jdbcType=VARCHAR},
			SCRIN_NM = #{scrinNm, jdbcType=VARCHAR},
			SCRIN_DC = #{scrinDc, jdbcType=LOGNVARCHAR},
			SCRTY_GRAD = #{scrtyGrad, jdbcType=CHAR},
			TY = #{ty, jdbcType=CHAR},
			MENU_ID = #{menuId, jdbcType=INTEGER}
    where SCRIN_ID = #{scrinId, jdbcType=INTEGER},
  </update>
  <delete id="delete" parameterType="java.util.HashMap">
    delete from UI_M
    where SCRIN_ID = #{0, scrinId}
  </delete>  
  
 </mapper>