<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LnkIfIem">	
	<resultMap id="LnkIfIemResult" type="LnkIfIem">
		<id     	property="intrfcId"   column="INTRFC_ID"/>
		<result     property="intrfcEnNm"   column="INTRFC_EN_NM"/>
		<result     property="intrfcKrNm"   column="INTRFC_KR_NM"/>
		<result     property="intrfcTchnlgyNm"   column="INTRFC_TCHNLGY_NM"/>
		<result     property="intrfcTchnlgyDc"   column="INTRFC_TCHNLGY_DC"/>
		<result     property="intrfcRstrctMatter"   column="INTRFC_RSTRCT_MATTER"/>
		<result     property="intrfcDc"   column="INTRFC_DC"/>
		<result     property="startSysId"   column="START_SYS_ID"/>
		<result     property="arvlSysId"   column="ARVL_SYS_ID"/>

	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="LnkIfIemResult">
    SELECT *
    FROM LNK_IF_IEM
    where INTRFC_ID 		= #{0, intrfcId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="LnkIfIemResult">
    SELECT *
    FROM LNK_IF_IEM
  </select>
  <insert id="insert" parameterType="LnkIfIem">
    insert into LNK_IF_IEM (
			INTRFC_EN_NM,
			INTRFC_KR_NM,
			INTRFC_TCHNLGY_NM,
			INTRFC_TCHNLGY_DC,
			INTRFC_RSTRCT_MATTER,
			INTRFC_DC,
			START_SYS_ID,
			ARVL_SYS_ID
   )
    values (
			#{intrfcEnNm, jdbcType=VARCHAR},
			#{intrfcKrNm, jdbcType=VARCHAR},
			#{intrfcTchnlgyNm, jdbcType=VARCHAR},
			#{intrfcTchnlgyDc, jdbcType=LONGVARCHAR},
			#{intrfcRstrctMatter, jdbcType=LONGVARCHAR},
			#{intrfcDc, jdbcType=LONGVARCHAR},
			#{startSysId, jdbcType=INTEGER},
			#{arvlSysId, jdbcType=INTEGER}
      )
  <!--parameterType="java.lang.Integer"-->
  </insert>
  <update id="update" parameterType="LnkIfIem">
    update LNK_IF_IEM SET
			INTRFC_EN_NM = #{intrfcEnNm, jdbcType=VARCHAR},
			INTRFC_KR_NM = #{intrfcKrNm, jdbcType=VARCHAR},
			INTRFC_TCHNLGY_NM = #{intrfcTchnlgyNm, jdbcType=VARCHAR},
			INTRFC_TCHNLGY_DC = #{intrfcTchnlgyDc, jdbcType=LOGNVARCHAR},
			INTRFC_RSTRCT_MATTER = #{intrfcRstrctMatter, jdbcType=LOGNVARCHAR},
			INTRFC_DC = #{intrfcDc, jdbcType=LOGNVARCHAR},
			START_SYS_ID = #{startSysId, jdbcType=INTEGER},
			ARVL_SYS_ID = #{arvlSysId, jdbcType=INTEGER}
    where INTRFC_ID 		= #{intrfcId,		jdbcType=INTEGER}    
  </update>
  <delete id="delete" parameterType="java.util.HashMap">
    delete from LNK_IF_IEM
    where INTRFC_ID 		= #{0, intrfcId}
  </delete>  
  
 </mapper>