<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LnkIfPgmMeta">	
	<resultMap id="LnkIfPgmMetaResult" type="LnkIfPgmMeta">
		<id     property="dataId"   column="DATA_ID"/>
		<id     property="pgmId"   column="PGM_ID"/>
		<id     property="intrfcId"   column="INTRFC_ID"/>
		<result     property="dataIem"   column="DATA_IEM"/>
		<result     property="dataAtrb"   column="DATA_ATRB"/>
		<result     property="dc"   column="DC"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="LnkIfPgmMetaResult">
    SELECT *
    FROM LNK_IF_PGM_META
    where DATA_ID 		= #{0, dataId}
      and PGM_ID		= #{1, pgmId}
      and INTRFC_ID		= #{1, intrfcId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="LnkIfPgmMetaResult">
    SELECT *
    FROM LNK_IF_PGM_META
  </select>
  <insert id="insert" parameterType="LnkIfPgmMeta">
    insert into LNK_IF_PGM_META (
			DATA_ID,
			PGM_ID,
			INTRFC_ID,
			DATA_IEM,
			DATA_ATRB,
			DC
    )
    values (
			#{dataId, jdbcType=INTEGER},
			#{pgmId, jdbcType=INTEGER},
			#{intrfcId, jdbcType=INTEGER},
			#{dataIem, jdbcType=VARCHAR},
			#{dataAtrb, jdbcType=VARCHAR},
			#{dc, jdbcType=VARCHAR}
      )
  <!--parameterType="java.lang.Integer"-->
  </insert>
  <update id="update" parameterType="LnkIfPgmMeta">
    update LNK_IF_PGM_META SET
			DATA_ID = #{dataId, jdbcType=INTEGER},
			PGM_ID = #{pgmId, jdbcType=INTEGER},
			INTRFC_ID = #{intrfcId, jdbcType=INTEGER},
			DATA_IEM = #{dataIem, jdbcType=VARCHAR},
			DATA_ATRB = #{dataAtrb, jdbcType=VARCHAR},
			DC = #{dc, jdbcType=VARCHAR}
    where DATA_ID 		= #{dataId,		jdbcType=INTEGER}
      and PGM_ID = #{pgmId,jdbcType=INTEGER}
      and INTRFC_ID = #{intrfcId,jdbcType=INTEGER}
    
  </update>
  <delete id="delete" parameterType="java.util.HashMap">
    delete     FROM LNK_IF_PGM_META
    where DATA_ID 		= #{0, dataId}
      and PGM_ID		= #{1, pgmId}
      and INTRFC_ID		= #{1, intrfcId}
  </delete>  
  
 </mapper>