<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LnkIfPgm">	
	<resultMap id="LnkIfPgmResult" type="LnkIfPgm">
		<id     property="intrfcId"   column="INTRFC_ID"/>
		<id     property="pgmId"   column="PGM_ID"/>
		<result     property="pgmNm"   column="PGM_NM"/>
		<result     property="dc"   column="DC"/>
		<result     property="intrlckIemNm"   column="INTRLCK_IEM_NM"/>
		<result     property="rstrct_matter"   column="RSTRCT_MATTER"/>
		<result     property="prpos"   column="PRPOS"/>
		<result     property="cycle"   column="CYCLE"/>
		<result     property="scrtyGrad"   column="SCRTY_GRAD"/>
		<result     property="rm"   column="RM"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="LnkIfPgmResult">
    SELECT *
    FROM biz_actor_dept_map
    where BIZ_ACTOR_ID 		= #{0, bizActorId}
      and BIZ_ACTOR_ID		= #{1, deptId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="LnkIfPgmResult">
    SELECT *
    FROM biz_actor_dept_map
  </select>
  <insert id="insert" parameterType="LnkIfPgm">
    insert into CODE_D (CODE_ID, 
    					CODE_VALUE, 
      				  	CODE_VALUE_NM, 
      				  	DC
      )
    values (#{codeID,		jdbcType=INTEGER}, 
    		#{codeValue,	jdbcType=VARCHAR}, 
      		#{codeValueNm,	jdbcType=VARCHAR}, 
      		#{dc,			jdbcType=LONGVARCHAR}
      )
  <!--parameterType="java.lang.Integer"-->
  </insert>
  <update id="update" parameterType="LnkIfPgm">
    update CODE_D
    <set>
      <if test="codeValue 	!= null">	CODE_VALUE 		= #{codeValue,	jdbcType=VARCHAR},		</if>
      <if test="codeValueNm != null">	CODE_VALUE_NM 	= #{codeValueNm,jdbcType=VARCHAR},		</if>
      <if test="dc 			!= null">	DC 				= #{dc,			jdbcType=LONGVARCHAR},  </if>
    </set>
    where CODE_ID 		= #{codeID,		jdbcType=INTEGER}
      and CODE_VALUE_ID = #{codeValueID,jdbcType=INTEGER}
    
  </update>
  <delete id="delete" parameterType="java.util.HashMap">
    delete from CODE_D
     where CODE_ID 		 = #{0, codeID}
       and CODE_VALUE_ID = #{1, codeValueID}
  </delete>  
  
 </mapper>