<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LnkIfPgm">	
	<resultMap id="LnkIfPgmResult" type="LnkIfPgm">
		<id     property="intrfcId"   column="INTRFC_ID"/>
		<id     property="pgmId"   column="PGM_ID"/>
		<result     property="pgmNm"   column="PGM_NM"/>
		<result     property="dc"   column="DC"/>
		<result     property="intrlckIemNm"   column="INTRLCK_IEM_NM"/>
		<result     property="rstrct_matter"   column="RSTRCT_MATTER"/>
		<result     property="prpos"   column="PRPOS"/>
		<result     property="cycle"   column="CYCLE"/>
		<result     property="scrtyGrad"   column="SCRTY_GRAD"/>
		<result     property="rm"   column="RM"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="LnkIfPgmResult">
    SELECT *
    FROM LNK_IF_PGM
    where INTRFC_ID 		= #{0, intrfcId}
      and PGM_ID		= #{1, pgmId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="LnkIfPgmResult">
    SELECT *
    FROM LNK_IF_PGM
  </select>
  <insert id="insert" parameterType="LnkIfPgm">
    insert into LNK_IF_PGM (
			PGM_ID,
			PGM_NM,
			DC,
			INTRLCK_IEM_NM,
			RSTRCT_MATTER,
			PRPOS,
			CYCLE,
			SCRTY_GRAD,
			RM
    )
    values (
    		#{pgmId, jdbcType=INTEGER},	
			#{pgmNm, jdbcType=VARCHAR},	
			#{dc, jdbcType=LONGVARCHAR},	
			#{intrlckIemNm, jdbcType=VARCHAR},	
			#{rstrct_matter, jdbcType=LONGVARCHAR},	
			#{prpos, jdbcType=LONGVARCHAR},	
			#{cycle, jdbcType=VARCHAR},	
			#{scrtyGrad, jdbcType=CHAR},	
			#{rm, jdbcType=VARCHAR}	
  )
  <!--parameterType="java.lang.Integer"-->
  </insert>
  <update id="update" parameterType="LnkIfPgm">
    update LNK_IF_PGM SET
			PGM_ID = #{pgmId, jdbcType=INTEGER},
			PGM_NM = #{pgmNm, jdbcType=VARCHAR},
			DC = #{dc, jdbcType=LOGNVARCHAR},
			INTRLCK_IEM_NM = #{intrlckIemNm, jdbcType=VARCHAR},
			RSTRCT_MATTER = #{rstrct_matter, jdbcType=LOGNVARCHAR},
			PRPOS = #{prpos, jdbcType=LOGNVARCHAR},
			CYCLE = #{cycle, jdbcType=VARCHAR},
			SCRTY_GRAD = #{scrtyGrad, jdbcType=CHAR},
			RM = #{rm, jdbcType=VARCHAR}
    where INTRFC_ID 		= #{intrfcId,		jdbcType=INTEGER}
      and PGM_ID = #{pgmId,jdbcType=INTEGER}
    
  </update>
  <delete id="delete" parameterType="java.util.HashMap">
    delete from LNK_IF_PGM
    where INTRFC_ID 		= #{0, intrfcId}
      and PGM_ID		= #{1, pgmId}
  </delete>  
  
 </mapper>