<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LnkOtrSys">	
	<resultMap id="LnkOtrSysResult" type="LnkOtrSys">
		<id     property="otrSysId"   column="OTR_SYS_ID"/>
		<result     property="otrSysNm"   column="OTR_SYS_NM"/>
		<result     property="dc"   column="DC"/>
		<result     property="sysNodeId"   column="SYS_NODE_ID"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="LnkOtrSysResult">
    SELECT *
    FROM LNK_OTR_SYS
    where OTR_SYS_ID 		= #{0, otrSysId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="LnkOtrSysResult">
    SELECT *
    FROM LNK_OTR_SYS
  </select>
  <insert id="insert" parameterType="LnkOtrSys">
    insert into LNK_OTR_SYS (
			OTR_SYS_NM,
			DC,
			SYS_NODE_ID
      )
    values (
			#{otrSysNm, jdbcType=VARCHAR},
			#{dc, jdbcType=LONGVARCHAR},
			#{sysNodeId, jdbcType=INTEGER}
      )
  <!--parameterType="java.lang.Integer"-->
  </insert>
  <update id="update" parameterType="LnkOtrSys">
    update LNK_OTR_SYS SET
			OTR_SYS_NM = #{otrSysNm, jdbcType=VARCHAR},
			DC = #{dc, jdbcType=LOGNVARCHAR},
			SYS_NODE_ID = #{sysNodeId, jdbcType=INTEGER}
    where OTR_SYS_ID 		= #{otrSysId,		jdbcType=INTEGER}
    
  </update>
  <delete id="delete" parameterType="java.util.HashMap">
    delete     FROM LNK_OTR_SYS
    where OTR_SYS_ID 		= #{0, otrSysId}
  </delete>  
  
 </mapper>