<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LnkSysNode">	
	<resultMap id="LnkSysNodeResult" type="LnkSysNode">
		<id     	property="sysNodeId"   		column="SYS_NODE_ID"/>
		<result     property="sysNodeNm"   		column="SYS_NODE_NM"/>
		<result     property="sysNodeDc"   		column="SYS_NODE_DC"/>
		<result     property="ntwrkChartr"   	column="NTWRK_CHARTR"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="LnkSysNodeResult">
    SELECT *
    FROM LNK_SYS_NODE
    where SYS_NODE_ID 		= #{0, sysNodeId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="LnkSysNodeResult">
    SELECT *
    FROM LNK_SYS_NODE
  </select>
  <insert id="insert" parameterType="LnkSysNode">
    insert into LNK_SYS_NODE (CODE_ID, 
    					CODE_VALUE, 
      				  	CODE_VALUE_NM, 
      				  	DC
      )
    values (#{codeID,		jdbcType=INTEGER}, 
    		#{codeValue,	jdbcType=VARCHAR}, 
      		#{codeValueNm,	jdbcType=VARCHAR}, 
      		#{dc,			jdbcType=LONGVARCHAR}
      )
  <!--parameterType="java.lang.Integer"-->
  </insert>
  <update id="update" parameterType="LnkSysNode">
    update LNK_SYS_NODE
    <set>
      <if test="codeValue 	!= null">	CODE_VALUE 		= #{codeValue,	jdbcType=VARCHAR},		</if>
      <if test="codeValueNm != null">	CODE_VALUE_NM 	= #{codeValueNm,jdbcType=VARCHAR},		</if>
      <if test="dc 			!= null">	DC 				= #{dc,			jdbcType=LONGVARCHAR},  </if>
    </set>
    where SYS_NODE_ID 		= #{sysNodeId,		jdbcType=INTEGER}
  </update>
  <delete id="delete" parameterType="java.util.HashMap">
    delete from LNK_SYS_NODE
    where SYS_NODE_ID 		= #{0, sysNodeId}
  </delete>  
  
 </mapper>