<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dept">	
	<resultMap id="DeptResult" type="Dept">
		<id     	property="deptId"   column="DEPT_ID"/>
		<result     property="motherDeptId"   column="MOTHER_DEPT_ID"/>
		<result     property="deptNm"   column="DEPT_NM"/>
		<result     property="deptDc"   column="DEPT_DC"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="DeptResult">
    SELECT *
    FROM DEPT
    where DEPT_ID 		= #{0, deptId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="DeptResult">
    SELECT *
    FROM DEPT
  </select>
  <insert id="insert" parameterType="Dept">
    insert into DEPT (
			MOTHER_DEPT_ID,
			DEPT_NM,
			DEPT_DC
      )
    values (
			#{motherDeptId, jdbcType=INTEGER},
			#{deptNm, jdbcType=VARCHAR},
			#{deptDc, jdbcType=LONGVARCHAR}
      )
  <!--parameterType="java.lang.Integer"-->
  </insert>
  <update id="update" parameterType="Dept">
    update DEPT SET
			MOTHER_DEPT_ID = #{motherDeptId, jdbcType=INTEGER},
			DEPT_NM = #{deptNm, jdbcType=VARCHAR},
			DEPT_DC = #{deptDc, jdbcType=LOGNVARCHAR}
    where DEPT_ID 		= #{deptId,		jdbcType=INTEGER}
      and CODE_VALUE_ID = #{codeValueID,jdbcType=INTEGER}    
  </update>
  <delete id="delete" parameterType="java.util.HashMap">
    delete from DEPT
    where DEPT_ID 		= #{0, deptId}
  </delete>  
  
 </mapper>