<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DmndDeptMap">	
	<resultMap id="DmndDeptMapResult" type="DmndDeptMap">
		<id     	property="dmndId"   		column="DMND_ID"/>
		<id     	property="deptId"   		column="DEPT_ID"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="DmndDeptMapResult">
    SELECT *
    FROM DMND_DEPT_MAP
    where DMND_ID 		= #{0, dmndId}
      AND DEPT_ID 		= #{1, deptId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="DmndDeptMapResult">
    SELECT *
    FROM DMND_DEPT_MAP
  </select>
  <insert id="insert" parameterType="DmndDeptMap">
    insert into DMND_DEPT_MAP (
			DMND_ID,
			DEPT_ID
      )
    values (
			#{dmndId, jdbcType=INTEGER},
			#{deptId, jdbcType=INTEGER}
      )
  <!--parameterType="java.lang.Integer"-->
  </insert>
  <update id="update" parameterType="DmndDeptMap">
    update DMND_DEPT_MAP
			DMND_ID = #{dmndId, jdbcType=INTEGER},
			DEPT_ID = #{deptId, jdbcType=INTEGER}
    where DMND_ID 		= #{dmndId,		jdbcType=INTEGER}    
      AND DEPT_ID       = #{deptId,		jdbcType=INTEGER}    
  </update>
  
  <delete id="delete" parameterType="java.util.HashMap">
    delete from DMND_DEPT_MAP
    where DMND_ID 		= #{0, dmndId}
      AND DEPT_ID 		= #{1, deptId}
  </delete>  
  
 </mapper>