<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DmndM">	
	<resultMap id="DmndMResult" type="DmndM">
		<id     property="dmndId"   column="DMND_ID"/>
		<result     property="dmndIdntfr"   column="DMND_IDNTFR"/>
		<result     property="dmndNm"   column="DMND_NM"/>
		<result     property="dmndTy"   column="DMND_TY"/>
		<result     property="dc"   column="DC"/>
		<result     property="preCnd"   column="PRE_CND"/>
		<result     property="dmndPriorty"   column="DMND_PRIORT"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="DmndMResult">
    SELECT *
    FROM DMND_M
    where DMND_ID 		= #{0, dmndId}
  </select>
  
  <select id="findList" parameterType="java.util.HashMap" resultMap="DmndMResult">
    SELECT *
    FROM DMND_M
  </select>
  
  <insert id="insert" parameterType="DmndM">
    insert into DMND_M (
			DMND_IDNTFR,
			DMND_NM,
			DMND_TY,
			DC,
			PRE_CND,
			DMND_PRIORT
      )
    values (
			#{dmndIdntfr, jdbcType=VARCHAR},
			#{dmndNm, jdbcType=VARCHAR},
			#{dmndTy, jdbcType=CHAR},
			#{dc, jdbcType=LONGVARCHAR},
			#{preCnd, jdbcType=VARCHAR},
			#{dmndPriorty, jdbcType=CHAR}
      )
  </insert>
  
  <update id="update" parameterType="DmndM">
    update DMND_M SET
			DMND_ID = #{dmndId, jdbcType=INTEGER},
			DMND_IDNTFR = #{dmndIdntfr, jdbcType=VARCHAR},
			DMND_NM = #{dmndNm, jdbcType=VARCHAR},
			DMND_TY = #{dmndTy, jdbcType=CHAR},
			DC = #{dc, jdbcType=LOGNVARCHAR},
			PRE_CND = #{preCnd, jdbcType=VARCHAR},
			DMND_PRIORT = #{dmndPriorty, jdbcType=CHAR}
    where DMND_ID 		= #{dmndId,		jdbcType=INTEGER}    
  </update>
  
  <delete id="delete" parameterType="java.util.HashMap">
    delete from DMND_M
    where DMND_ID 		= #{0, dmndId}
  </delete>  
  
 </mapper>