<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DmndRelateBasis">	
	<resultMap id="DmndRelateBasisResult" type="DmndRelateBasis">
		<id     property="relateBasisId"   column="RELATE_BASIS_ID"/>
		<result     property="upperDmndId"   column="UPPER_DMND_ID"/>
		<result     property="relateBasisSj"   column="RELATE_BASIS_SJ"/>
		<result     property="relateBasisOrigin"   column="RELATE_BASIS_ORIGIN"/>
		<result     property="dc"   column="DC"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="DmndRelateBasisResult">
    SELECT *
    FROM DMND_RELATE_BASIS
    where RELATE_BASIS_ID 		= #{0, relateBasisId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="DmndRelateBasisResult">
    SELECT *
    FROM DMND_RELATE_BASIS
  </select>
  <insert id="insert" parameterType="DmndRelateBasis">
    insert into DMND_RELATE_BASIS (CODE_ID, 
    					CODE_VALUE, 
      				  	CODE_VALUE_NM, 
      				  	DC
      )
    values (#{codeID,		jdbcType=INTEGER}, 
    		#{codeValue,	jdbcType=VARCHAR}, 
      		#{codeValueNm,	jdbcType=VARCHAR}, 
      		#{dc,			jdbcType=LONGVARCHAR}
      )
  <!--parameterType="java.lang.Integer"-->
  </insert>
  <update id="update" parameterType="DmndRelateBasis">
    update DMND_RELATE_BASIS
    <set>
      <if test="codeValue 	!= null">	CODE_VALUE 		= #{codeValue,	jdbcType=VARCHAR},		</if>
      <if test="codeValueNm != null">	CODE_VALUE_NM 	= #{codeValueNm,jdbcType=VARCHAR},		</if>
      <if test="dc 			!= null">	DC 				= #{dc,			jdbcType=LONGVARCHAR},  </if>
    </set>
    where RELATE_BASIS_ID 		= #{relateBasisId,		jdbcType=INTEGER}    
  </update>
  <delete id="delete" parameterType="java.util.HashMap">
    delete from DMND_RELATE_BASIS
    where RELATE_BASIS_ID 		= #{0, relateBasisId}
  </delete>  
  
 </mapper>