<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UpperDmndDmndMap">	
	<resultMap id="UpperDmndDmndMapResult" type="UpperDmndDmndMap">
		<id     property="upperDmndId"   column="UPPER_DMND_ID"/>
		<id     property="dmndId"   column="DMND_ID"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="UpperDmndDmndMapResult">
    SELECT *
    FROM UPPER_DMND_DMND_MAP
    where UPPER_DMND_ID 		= #{0, upperDmndId}
      and DMND_ID		= #{1, dmndId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="UpperDmndDmndMapResult">
    SELECT *
    FROM UPPER_DMND_DMND_MAP
  </select>
  <insert id="insert" parameterType="UpperDmndDmndMap">
    insert into UPPER_DMND_DMND_MAP (
			UPPER_DMND_IDNTFR,
			UPPER_DMND_NM,
			DC
    )
    values (
			#{upperDmndIdntfr, jdbcType=VARCHAR},
			#{upperDmndNm, jdbcType=LONGVARCHAR},
			#{dc, jdbcType=LONGVARCHAR}
      )
  <!--parameterType="java.lang.Integer"-->
  </insert>
  <update id="update" parameterType="UpperDmndDmndMap">
    update UPPER_DMND_DMND_MAP SET
			UPPER_DMND_IDNTFR = #{upperDmndIdntfr, jdbcType=VARCHAR},
			UPPER_DMND_NM = #{upperDmndNm, jdbcType=LOGNVARCHAR},
			DC = #{dc, jdbcType=LOGNVARCHAR}
    where CODE_ID 		= #{codeID,		jdbcType=INTEGER}
      and CODE_VALUE_ID = #{codeValueID,jdbcType=INTEGER}
    
  </update>
  <delete id="delete" parameterType="java.util.HashMap">
    delete from UPPER_DMND_DMND_MAP
    where UPPER_DMND_ID 		= #{0, upperDmndId}
      and DMND_ID		= #{1, dmndId}
  </delete>  
  
 </mapper>