<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UpperDmnd">	
	<resultMap id="UpperDmndResult" type="UpperDmnd">
		<id     property="upperDmndId"   column="UPPER_DMND_ID"/>
		<result     property="upperDmndIdntfr"   column="UPPER_DMND_IDNTFR"/>
		<result     property="upperDmndNm"   column="UPPER_DMND_NM"/>
		<result     property="dc"   column="DC"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="UpperDmndResult">
    SELECT *
    FROM UPPER_DMND
    where UPPER_DMND_ID 		= #{0, upperDmndId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="UpperDmndResult">
    SELECT *
    FROM UPPER_DMND
  </select>
  <insert id="insert" parameterType="UpperDmnd">
    insert into UPPER_DMND (CODE_ID, 
    					CODE_VALUE, 
      				  	CODE_VALUE_NM, 
      				  	DC
      )
    values (#{codeID,		jdbcType=INTEGER}, 
    		#{codeValue,	jdbcType=VARCHAR}, 
      		#{codeValueNm,	jdbcType=VARCHAR}, 
      		#{dc,			jdbcType=LONGVARCHAR}
      )
  <!--parameterType="java.lang.Integer"-->
  </insert>
  <update id="update" parameterType="UpperDmnd">
    update UPPER_DMND
    <set>
      <if test="codeValue 	!= null">	CODE_VALUE 		= #{codeValue,	jdbcType=VARCHAR},		</if>
      <if test="codeValueNm != null">	CODE_VALUE_NM 	= #{codeValueNm,jdbcType=VARCHAR},		</if>
      <if test="dc 			!= null">	DC 				= #{dc,			jdbcType=LONGVARCHAR},  </if>
    </set>
    where UPPER_DMND_ID 		= #{upperDmndId,		jdbcType=INTEGER}    
  </update>
  <delete id="delete" parameterType="java.util.HashMap">
    delete     FROM UPPER_DMND
    where UPPER_DMND_ID 		= #{0, upperDmndId}
  </delete>  
  
 </mapper>