<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UpperDmnd">	
	<resultMap id="UpperDmndResult" type="UpperDmnd">
		<id     property="upperDmndId"   column="UPPER_DMND_ID"/>
		<result     property="upperDmndIdntfr"   column="UPPER_DMND_IDNTFR"/>
		<result     property="upperDmndNm"   column="UPPER_DMND_NM"/>
		<result     property="dc"   column="DC"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="UpperDmndResult">
    SELECT *
    FROM UPPER_DMND
    where UPPER_DMND_ID 		= #{0, upperDmndId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="UpperDmndResult">
    SELECT *
    FROM UPPER_DMND
  </select>
  <insert id="insert" parameterType="UpperDmnd">
    insert into UPPER_DMND (
			UPPER_DMND_IDNTFR,
			UPPER_DMND_NM,
			DC
      )
    values (
			#{upperDmndIdntfr, jdbcType=VARCHAR},
			#{upperDmndNm, jdbcType=LONGVARCHAR},
			#{dc, jdbcType=LONGVARCHAR}
      )
  <!--parameterType="java.lang.Integer"-->
  </insert>
  <update id="update" parameterType="UpperDmnd">
    update UPPER_DMND SET
			UPPER_DMND_IDNTFR = #{upperDmndIdntfr, jdbcType=VARCHAR},
			UPPER_DMND_NM = #{upperDmndNm, jdbcType=LOGNVARCHAR},
			DC = #{dc, jdbcType=LOGNVARCHAR}
    where UPPER_DMND_ID 		= #{upperDmndId,		jdbcType=INTEGER}    
  </update>
  <delete id="delete" parameterType="java.util.HashMap">
    delete     FROM UPPER_DMND
    where UPPER_DMND_ID 		= #{0, upperDmndId}
  </delete>  
  
 </mapper>