<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ClassM">	
	<resultMap id="ClassMResult" type="ClassM">
		<id     property="classId"   column="CLASS_ID"/>
		<result     property="classEnNm"   column="CLASS_EN_NM"/>
		<result     property="classKrNm"   column="CLASS_KR_NM"/>
		<result     property="classTy"   column="CLASS_TY"/>
		<result     property="idntfcOfficTy"   column="IDNTFC_OFFIC_TY"/>
		<result     property="idntfcOfficId"   column="IDNTFC_OFFIC_ID"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="ClassMResult">
    SELECT *
    FROM CLASS_M
    where CLASS_ID 		= #{0, classId}
  </select>
  
  <select id="findList" parameterType="java.util.HashMap" resultMap="ClassMResult">
    SELECT *
    FROM CLASS_M
  </select>
  
  <insert id="insert" parameterType="ClassM">
    insert into CLASS_M (
			CLASS_EN_NM,
			CLASS_KR_NM,
			CLASS_TY,
			IDNTFC_OFFIC_TY,
			IDNTFC_OFFIC_ID
      )
    values (
			#{classEnNm, jdbcType=VARCHAR},
			#{classKrNm, jdbcType=VARCHAR},
			#{classTy, jdbcType=CHAR},
			#{idntfcOfficTy, jdbcType=CHAR},
			#{idntfcOfficId, jdbcType=INTEGER}
      )
  <!--parameterType="java.lang.Integer"-->
  </insert>
  
  <update id="update" parameterType="ClassM">
    update CLASS_M
    set
			CLASS_EN_NM = #{classEnNm, jdbcType=VARCHAR},
			CLASS_KR_NM = #{classKrNm, jdbcType=VARCHAR},
			CLASS_TY = #{classTy, jdbcType=CHAR},
			IDNTFC_OFFIC_TY = #{idntfcOfficTy, jdbcType=CHAR},
			IDNTFC_OFFIC_ID = #{idntfcOfficId, jdbcType=INTEGER}
    where classId 		= #{CLASS_ID,		jdbcType=INTEGER}    
  </update>
  
  <delete id="delete" parameterType="java.util.HashMap">
    delete from CLASS_M
    where CLASS_ID 		= #{0, classId}
  </delete>  
  
 </mapper>