<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ClassOp">	
	<resultMap id="ClassOpResult" type="ClassOp">
		<id     property="oprtinId"   column="OPRTIN_ID"/>
		<id     property="classId"   column="CLASS_ID"/>
		<result     property="opEnNm"   column="OP_EN_NM"/>
		<result     property="opKrNm"   column="OP_KR_NM"/>
		<result     property="visiblty"   column="VISIBLTY"/>
		<result     property="returnTy"   column="RETURN_TY"/>
		<result     property="parmNm"   column="PARM_NM"/>
		<result     property="parmDc"   column="PARM_DC"/>
		<result     property="dc"   column="DC"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="ClassOpResult">
    SELECT *
    FROM CLASS_OP
    where OPRTIN_ID 		= #{0, oprtinId}
      and CLASS_ID		= #{1, classId}
  </select>
  <select id="findList" parameterType="java.util.HashMap" resultMap="ClassOpResult">
    SELECT *
    FROM CLASS_OP
  </select>
  <insert id="insert" parameterType="ClassOp">
    insert into CLASS_OP (
			CLASS_ID,
			OP_EN_NM,
			OP_KR_NM,
			VISIBLTY,
			RETURN_TY,
			PARM_NM,
			PARM_DC,
			DC
      )
    values (
			#{classId, jdbcType=INTEGER},
			#{opEnNm, jdbcType=VARCHAR},
			#{opKrNm, jdbcType=VARCHAR},
			#{visiblty, jdbcType=VARCHAR},
			#{returnTy, jdbcType=VARCHAR},
			#{parmNm, jdbcType=VARCHAR},
			#{parmDc, jdbcType=LONGVARCHAR},
			#{dc, jdbcType=LONGVARCHAR}
      )
  <!--parameterType="java.lang.Integer"-->
  </insert>
  <update id="update" parameterType="ClassOp">
    update CLASS_OP
    set
			CLASS_ID = #{classId, jdbcType=INTEGER},
			OP_EN_NM = #{opEnNm, jdbcType=VARCHAR},
			OP_KR_NM = #{opKrNm, jdbcType=VARCHAR},
			VISIBLTY = #{visiblty, jdbcType=VARCHAR},
			RETURN_TY = #{returnTy, jdbcType=VARCHAR},
			PARM_NM = #{parmNm, jdbcType=VARCHAR},
			PARM_DC = #{parmDc, jdbcType=LOGNVARCHAR},
			DC = #{dc, jdbcType=LOGNVARCHAR}    
    where OPRTIN_ID 		= #{oprtinId,		jdbcType=INTEGER}
      and CLASS_ID 			= #{classId,jdbcType=INTEGER}
    
  </update>
  <delete id="delete" parameterType="java.util.HashMap">
    delete FROM CLASS_OP
    where OPRTIN_ID 		= #{0, oprtinId}
      and CLASS_ID			= #{1, classId}
  </delete>  
  
 </mapper>