<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ClassAttrb">	
	<resultMap id="ClassAttrbResult" type="ClassAttrb">
		<id     property="atrbId"   column="ATRB_ID"/>
		<id     property="classId"   column="CLASS_ID"/>
		<result     property="attrbEnNm"   column="ATTRB_EN_NM"/>
		<result     property="attrbKrNm"   column="ATTRB_KR_NM"/>
		<result     property="visiblty"   column="VISIBLTY"/>
		<result     property="ty"   column="TY"/>
		<result     property="bassValue"   column="BASS_VALUE"/>
		<result     property="dc"   column="DC"/>
		<result     property="iemAtrb"   column="IEM_ATRB"/>
	</resultMap>

  <select id="findById" parameterType="java.util.HashMap" resultMap="ClassAttrbResult">
    SELECT *
    FROM CLASS_ATTRB
    where ATRB_ID 		= #{0, atrbId}
      and CLASS_ID		= #{1, classId}
  </select>
  
  <select id="findList" parameterType="java.util.HashMap" resultMap="ClassAttrbResult">
    SELECT *
    FROM CLASS_ATTRB
  </select>
  
  <insert id="insert" parameterType="ClassAttrb">
    insert into CLASS_ATTRB (CODE_ID, 
    					CODE_VALUE, 
      				  	CODE_VALUE_NM, 
      				  	DC
      )
    values (#{codeID,		jdbcType=INTEGER}, 
    		#{codeValue,	jdbcType=VARCHAR}, 
      		#{codeValueNm,	jdbcType=VARCHAR}, 
      		#{dc,			jdbcType=LONGVARCHAR}
      )
  </insert>
  
  <update id="update" parameterType="ClassAttrb">
    update CLASS_ATTRB
    <set>
      <if test="codeValue 	!= null">	CODE_VALUE 		= #{codeValue,	jdbcType=VARCHAR},		</if>
      <if test="codeValueNm != null">	CODE_VALUE_NM 	= #{codeValueNm,jdbcType=VARCHAR},		</if>
      <if test="dc 			!= null">	DC 				= #{dc,			jdbcType=LONGVARCHAR},  </if>
    </set>
    where ATRB_ID 		= #{atrbId,		jdbcType=INTEGER}
      and CLASS_ID 		= #{classId,jdbcType=INTEGER}    
  </update>
  
  
  <delete id="delete" parameterType="java.util.HashMap">
    delete from CLASS_ATTRB
    where ATRB_ID 		= #{0, atrbId}
      and CLASS_ID		= #{1, classId}
  </delete>  
  
 </mapper>